<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
          <div class="field form-group">
            <%= f.label :name %><br />
            <%= f.email_field :name, autofocus: true, :class => 'form-control'%>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, :class => 'form-control'%>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, :class => 'form-control'%>
          </div>

          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'%>
          </div>

          <div class="field form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control'%>
          </div>

          <div class="form-group">
            <%= f.submit "Update", :class => 'btn btn-primary'%>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
