<h2 class="text-center">Edit <%= @user.email %></h2>

<%= form_for(@user, url: user_path, html: { method: :put }) do |f| %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
          <div class="field form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, :class => 'form-control', :value => @user.name%>
          </div>

          <div class="field form-group">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, :class => 'form-control', :value => @user.avatar.url%>
          </div>

          <div class="form-group">
            <%= f.label :interests %><br />
            <%= f.text_field :interests, :value => @interests, :class => 'form-control', 'data-role' => 'tagsinput' %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", :class => 'btn btn-primary'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>