<h2 class="text-center"> You are matching with: <%= @matched_users.length %> User!</h2>

<button id="match-me" class="btn btn-primary center-block"> Discover your weekly match</button>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 well hidden">
			<h2 id="match-name" class="text-center">  </h2>
			<img id="match-avatar" src="">
		</div>
	</div>
</div>

<script>
	$('#match-me').click(function(){
		//console.log('click');
		var url = '/match-me'
		$.ajax({
		  dataType: "json",
		  url: url,
		  success: function(data){
		  	$('#match-name').text(data.name);
		  	$('#match-avatar').attr('src', data.avatar);
		  	$('.hidden').removeClass('hidden');
		  }
		});
	})
</script>
<!-- <table class="table table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Interest</th>
		</tr>
	</thead>
	<tbody>
		<% @matched_users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.interests[0].name %></td>
			</tr>
		<% end %>
	</tbody>
</table> -->