<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2> <%= @user.name %>'s Profile </h2>
            <%= image_tag @user.avatar.url %>
            <h2> <%= @interests%> </h2>
            <%= form_for @user, url: profile_path, html: { multipart: true } do |f| %>
                <%= f.file_field :avatar %>
                <%= f.submit "Update", :class => 'btn btn-primary'%>
            <% end %>

            <%= link_to "Edit", edit_user_path(current_user)  %>
        </div>
    </div>
</div>