
<% if user_signed_in? %>
	<h1 class="text-center"> Welcome <%= @user.name %>! </h1>	
<% else %>
	<div class="full-page">
		<div id="full-width-height" style="max-width: 100%; max-width: 100%">
			<h1 id="welcome-heading" class="text-center"> WELCOME TO RANDOMEET </h1>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="row">
						<div class="col-md-6 text-center">
							<%= link_to " About ", about_path, :class => "btn btn-primary btn-hp" %></li>
						</div>
						<div class="col-md-6 text-center">
							<%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success btn-hp"%></li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
