<h2 class="text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="jumbotron">
            <div class="field form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class => 'form-control'%>
            </div>

            <div class="field form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control'%>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field form-group">
                <%= f.check_box :remember_me , :class => 'form-control'%>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="form-group">
              <%= f.submit "Log in", :class => 'btn btn-success'%>
            </div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

