div.full-page {
  /* Set rules to fill background */
  background: url(full-width.jpg);
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  div.full-page {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#super-container { 
  background: url(full-width.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

#welcome-heading{
	margin-top: 15%;
	font-size: 70px;
	font-weight: bolder;
	color: white;
	text-shadow: -2px 2px 4px rgba(91, 75, 109, 1);
}

.btn-hp{
	padding: 10px 30px 10px 30px;
	font-size: 30px;
	margin-top: 15%;
}